.DS_Store
*.jl.cov
*.jl.*.cov
*.jl.mem
.ipynb_checkpoints
.vscode
Manifest.toml
Manifest-v*.toml
test/lh5

# Documentation build products
docs/build/
docs/src/tutorials/*.md
docs/src/tutorials/*.ipynb
docs/src/recipes/*.md
docs/src/recipes/*.ipynb
